<section class="all-links">
  <% @comments.each do |comment| %>
    <div class="link" style="background: #FFF">

      <div class="metadata">
        <% if current_user.present? %>
          <a rel="nofollow" data-method="post" href="/comments/<%= comment.id %>/upvote" class="text_change">
            <span class="glyphicon glyphicon-triangle-top subtext_cmnt"></span>
          </a>
        <% else %>
          <a rel="nofollow" data-method="get" href="/users/sign_in" class="text_change">
            <span class="glyphicon glyphicon-triangle-top subtext_cmnt"></span>
          </a>
        <% end %>
        <span class="points subtext_cmnt">
          <%= link_to comment.user.username.present?  ? comment.user.username : comment.user.email, user_info_path(comment.user.username), class: "subtext_cmnt" %>
        </span>

        <span class="time-created subtext_cmnt">
          <%= time_ago_in_words(comment.created_at).gsub('about','') %> ago
        </span>

        <span class="edit-link">
          <%= link_to "| parent", link_path(comment.link), class: "subtext_cmnt" %>
        </span>

        <span class="downvote-link"> <span class="subtext_cmnt">| On: </span>
          <%= link_to "#{comment.link.title}", link_path(comment.link), class: "subtext_cmnt" %>
        </span>

        <% if current_user.present? && current_user.owns_comment?(comment) %>
          <span class="edit-link">
            <%= link_to "| edit", edit_link_comment_path(comment.link, comment), class: "subtext_cmnt" %>
          </span>

          <span class="delete-link">
            <%= link_to "| delete", link_comment_path(comment.link, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "subtext_cmnt" %>
          </span>
        <% end %>
      </div>

      <div class="comment">
        <span style="padding-left: 12px;"></span>
        <span class="c00"><%= comment.body %></span>
      </div>

    </div>
  <% end %>

  <div class="link" style="background: #FFF">
    <div class="title">
      <span class="subtext">
        <span style="padding-left: 25px;"></span>
        <%= link_to_next_page @comments, 'More', class: "more_text" %>
      </span>
    </div>
  </div>
</section>